@import "font.css";


/* root star */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --HR400: "HindSiliguri-Regular";
    --HM500:"HindSiliguri-Medium";
    --HB700: "HindSiliguri-Bold";
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* root end */
/* *************************************** */

/* header star */

.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header__nav{
    padding: 30px;
}

.header__nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list{
    display: flex;
    gap: 40px;

}

.header__nav-logo{
    font-family: var(--HM500);
    font-size: 23px;
    line-height: 22px;
    color: #292830;
    display: flex;
    align-items: center;



}
.header__nav-logo span{
    font-family: var(--HB700);
    font-size: 24px;
    color: white;
    background: #FF7235;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

}

.header__nav-link{
    font-family: var(--HR400);
    font-size: 18px;
    line-height: 18px;
    color: #292830;

}
.header__nav-btn{
    font-family: var(--HR400);
    font-size: 18px;
    line-height: 18px;
    color: #FF7235;
    padding: 15px 18px;
    background: none;
    border: 1px solid #FF7235;
    border-radius: 8px;
    cursor: pointer;
    

}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header__content-title{
    font-family: var(--HB700);
    font-size: 96px;
    line-height: 96px;
    color: #292830;
    max-width: 540px;
    width: 100%;
    margin-bottom: 20px;


}

.header__content-text{
    font-family: var(--HR400);
    font-size: 24px;
    line-height: 29px;
   color: #BDBDBD;
    margin: 20px 0;
}
    
.header__content-btns{
padding: 18px 54px 18px 24px;
color: #FFFFFF;
background: #FF7235;
border: none;
border-radius: 8px;
font-family: var(--HR400);
font-size: 24px;
line-height: 39px;
margin-right: 24px;
}

.header__content-info span {
    font-family: var(--HR400);
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;

}


    


/* header end */
/* ****************************** */